@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;
  /* Zinc 950 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    /* Zinc 950 */
    --foreground: #fafafa;
    /* Zinc 50 */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}